#rootLayout {
    -fx-background-image: url("../background.jpg");
    -fx-background-size: cover;
}

#heading {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #fcfcfc;
    -fx-text-fill: Black;
    -fx-effect: innershadow( three-pass-box , rgba(250,250,180,0.8) , 6, 0.0 , 0 , 2 );
}

#transparentLayer{
    -fx-background-color: rgba(210, 210, 210, 0.3);
    -fx-background-radius: 15;
}

#button{

    /*-fx-text-fill: white;*/
    /*-fx-font-family: "Arial Narrow";*/
    /*-fx-font-weight: bold;*/
    /*-fx-background-color: linear-gradient(#e27200, #e2d3a4);*/
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
    /*-fx-font-size: 13pt;*/
    /*-fx-font-weight: bold;*/

    -fx-background-color:
            #a6b5c9,
            linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
            linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    /*-fx-background-insets: 0 0 -1 0,0,1;*/
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , -1 );
}

#imageLabel{
    -fx-border-radius: 15;
    -fx-border-width: 1pt;
    -fx-border-color: #2A5058;
}

#menuButton{
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 0;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-alignment: left;
    -fx-cursor: hand;
}

#menuButton:hover{
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 20;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#followUpListView{
    -fx-background-color: transparent;
}

#contentKeeper{
    -fx-background-color: transparent;
}

#tab{
    -fx-border-color: #e27200;
    -fx-border-width: 2%;
    -fx-font-family: "Cambria";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#text_field{
    -fx-font-family: "Cambria";
    -fx-font-size: 13px;
    -fx-text-fill: black;
}

#password_field{
    -fx-font-family: "Cambria";
    -fx-font-size: 13px;
    -fx-text-fill: black;
}

#datePicker{
    -fx-font-family: "Cambria";
    -fx-font-size: 13px;
    -fx-text-fill: black;
}